/* Write your CSS code here */
.header-logo-image {
  width: 70%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  margin: 0;
}
.navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}

.navbar-options li {
  margin: 0.5em;
  font-weight: 400;
}

.logout-button {
  background-color: #0b69ff;
  border: none;
  outline: none;
  height: 4vh;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 500;
}

@media screen and (min-width: 425px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  .header-logo-image {
    width: 20%;
  }

  .navbar-options {
    margin: 0;
  }
}
